*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(60,64,198);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%;
    width: 100%; */
    width: 90%;
    height: 90%;
    /* height: 90rem; */
    flex-wrap: wrap;
    gap: 2em 4em;
}

.card{
    background-color: lightblue;
    
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.card .colors-div{
    display: flex;
    flex-wrap: wrap;
}

.card .child{
    /* border: 1px solid black; */
    width: 4.35em;
    height: 3.1em;
}

.footer-div{
    background-color: white;
    height: 3.1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}