*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(60,64,198);
    /* padding: 1rem; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main{
    /* background-color: lightpink; */
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    width: 100%; 
    /* width: 80rem;
    height: 38rem; */
    flex-wrap: wrap;
    gap: 2em 3em;
    padding: 1em;
}

main a{
    text-decoration: none;
    color: black;
}

.card{
    background-color: white;
    width: 360px;
    height: 260px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.card .colors-div{
    display: flex;
    flex-wrap: wrap;
}

.card .child{
    /* border: 1px solid black; */
    width: 4.35em;
    height: 3.1em;
}

.footer-div{
    /* background-color: teal; */
    height: 3em;
    padding: 1em 0.5em;
    display: flex;
    justify-content: space-between;
}

/* Media Query Starts From Here */

/* For 4K Screen */
@media (min-width: 1441px ) and (max-width: 2560px){

    main{
        padding:90px;
    }

    .card{
    background-color: white;
    width: 560px;
    height: 360px;
    padding: 8px;
}

.card .child{
    /* border: 1px solid black; */
    width: 6.8em;
    height: 4.5em;
}

.footer-div{
   font-size: 1.5em;
}

}

@media (min-width:769px) and (max-width: 1207px){

    .card{
    background-color: white;
    width: 280px;
    height: 200px;
}

    .card .child{
    /* border: 1px solid black; */
    width: 3.3em;
    height: 2.5em;
}

.footer-div{
   padding: 0.5em;
}

}


/* For Mobile Devices */

@media screen and (max-width: 366px){
    .card{
    max-width: 300px;
    max-height: 200px;
    }

    .card .child{
    /* border: 1px solid black; */
    width: 3.6em;
    height: 2.3em;
}
}

@media screen and (max-width: 304px){
    .card{
    min-width: 250px;
    min-height: 150px;
    }

    .card .child{
    /* border: 1px solid black; */
    width: 3em;
    height: 1.3em;
}
}