*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(60,64,198);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    /* background-color: lightpink; */
    display: flex;
    justify-content: center;
    align-content: center;
    /* height: 100%;
    width: 100%; */
    width: 80rem;
    height: 38rem;
    flex-wrap: wrap;
    gap: 2em 3em;
}

main a{
    text-decoration: none;
    color: black;
}

.card{
    background-color: white;
    width: 360px;
    height: 260px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.card .colors-div{
    display: flex;
    flex-wrap: wrap;
}

.card .child{
    /* border: 1px solid black; */
    width: 4.35em;
    height: 3.1em;
}

.footer-div{
    /* background-color: teal; */
    height: 3em;
    padding: 1em 0.5em;
    display: flex;
    justify-content: space-between;
}