*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

nav{
    border: 1px solid black;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1em;
    font-size: 1.1em;
}

nav a{
    text-decoration: none;
    color: black;
}

nav select{
    height: 1.7em;
    font-size: 1.1em;
    background-color: black;
    color: white;
}