*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

nav{
    border: 1px solid black;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1em;
    font-size: 1.1em;
}

nav a{
    text-decoration: none;
    color: black;
}

nav select{
    height: 1.7em;
    font-size: 1.1em;
    background-color: black;
    color: white;
}

main{
    /* background-color: lightblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.colors{
    min-width: 16.8em;
    height: 9.27em;
    border: 1px solid black;
    /* flex: 1; */
    flex-basis: 20%;
}