*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html,body{
    width: 100vw;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
}

nav{
    border: 1px solid black;
    min-height: 45px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1em;
    font-size: 1.1em;
}

nav a{
    text-decoration: none;
    color: black;
}

nav select{
    height: 80%;
    font-size: 1.1em;
    background-color: black;
    color: white;
    border-radius: 5px;
}

main{
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main a{
    text-decoration: none;
    color: black;
}

.colors{
    min-width: 16.8em;
    height: 9.27em;
    border: 1px solid black;
    /* flex: 1; */
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.copy{
   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.3em;
}

.copy-span{
    color: rgba(255, 255, 255, 0.8);
    border: 3px solid white;
    border-radius: 5px;
    width: 60%;
    height: 50%;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-text{
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.4em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Media Query Starts From Here */

@media screen and (max-width:1024px){
    
    .color-text{
        display: none;
    }

    .copy-span{
        display: none;
    }

}